@mixin tetromino-colors() {
  .block-I {
    background: #00E5FF;
  }

  .block-O {
    background: #FFFF00;
  }

  .block-T {
    background: #D500F9;
  }

  .block-J {
    background: #3D5AFE;
  }

  .block-L {
    background: #FF9100;
  }

  .block-S {
    background: #76FF03;
  }

  .block-Z {
    background: #F44336;
  }
}

@mixin default-block($border-color){
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid $border-color;
  box-sizing: border-box;
}
