<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mb-5">
        Settings
      </h1>

      <form [formGroup]="form">

        <div class="form-group mb-5">
          <label>Speed</label>
          <input class="form-control" formControlName="speed" type="number" step="0.1" min="0" max="10">
          <small>(Formula: (200 / 100) * (10 - (level + speed)) * 10)[ms] )</small>
        </div>

        <div class="form-check mb-5">
          <input class="form-check-input" formControlName="forceReload" type="checkbox">
          <label class="form-check-label">Force Reload?</label>
        </div>

        <div class="settings-button">
          <button (click)="deleteHighscore()">Delete Highscore</button>
        </div>

        <a class="tetri-button" [routerLink]="['/']">Back to Game</a>

      </form>
    </div>
  </div>
</div>
