<div id="footer-settings" style="margin-left: 30px; margin-right: 30px; margin-bottom: 15px">
  <h3 style="margin-top: 50px">Developed software by <a href="https://www.w11k.de/" target="_blank">W11K GmbH</a></h3>

  <p>
    Ng-dropping-stones is handcrafted software made in Esslingen, Germany. Feel free to <a
    href="https://github.com/w11k/ng-dropping-stones/issues" target="_blank">submit feature requests or bug reports</a>.
  </p>

  <div>
    <ul>
      <li><a href="https://www.w11k.de/impressum">Impressum</a></li>
      <li><a href="https://www.w11k.de/impressum#datenschutz">Datenschutz</a></li>
      <li><a href="https://www.w11k.de/agb">AGB</a></li>
    </ul>
  </div>

  <p>
    <small>
      <i>
        If you are in need of a software solution, do not hesitate to <a href="mailto:info@w11k.de">contact us</a>.
      </i>
    </small>
  </p>
</div>
<br>
<br>
