@import '../../../styles/colors';

header {
  background: $tetris-primary;
  text-align: center;
  padding: 15px 0;

  .header__logo {
    margin: 0;
    font-size: 3em;
  }

  position: relative;
  .to-setting {
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 30px;
    text-decoration: none;
    padding: 15px;
    top: 0;
    &:hover {
      color: $tetris-dark;
    }
  }
}
