<form [formGroup]="nameForm"
      class="name-form"
      (keydown.enter)="$event.preventDefault()"
      (ngSubmit)="submit(nameForm)">

  <div class="text-center mb-5">
    Press 'OK' to get to the next field or use 'TAB'
  </div>

  <div class="name-form-field">
    <input #action type="text" formControlName="name" id="name">
    <label for="name">name:</label><br>
    <pre>{{nameForm.get('name').value}}</pre>
  </div>
  <div class="name-form-field">
    <input #action  type="text" formControlName="email" id="email">
    <label for="email">e-mail:</label><br>
    <label>(if you want to win)</label><br>
    <pre>{{nameForm.get('email').value}}</pre>
  </div>
  <ng-container *ngIf="nameForm.get('email').dirty && nameForm.get('email').value.length > 0">
    <div class="name-form-field-checkbox">
      <input #action type="checkbox" formControlName="acceptTac" id="acceptTac">
      <label for="acceptTac"><span class="alt-checkbox"><span class="check-arrow"></span></span>Accept <a class="tac-link" (click)="openTac($event)">TAC</a> if you want to win</label>
    </div>
  </ng-container>
  <button #action  type="submit">play!</button>
</form>
