<div class="modal-header">
  <h1 class="modal-title">Datenschutzerklärung</h1>
</div>
<div class="modal-body">
  <div>
    1) Wer ist für die Datenverarbeitung verantwortlich und an wen kann ich mich wenden?
    Name und Kontaktdaten des für die Verarbeitung Verantwortlichen sowie des betrieblichen Dateschutzbeauftragten.<br><br>

    Verantwortliche Stelle ist:<br>
    w11k GmbH<br>
    Martinstraße 42-44<br>
    73728 Esslingen<br>
    07114599980<br>
    info@w11k.de<br><br>

    Sie erreichen unseren betrieblichen Datenschutzbeauftragten unter<br><br>
    w11k GmbH<br>
    Datenschutzbeauftragter<br>
    Martinstraße 42-44<br>
    73728 Esslingen<br>
    07114599980<br>
    datenschutz@w11k.de<br>
  </div>
  <p>
    2) Welche Daten nutzen wir?
    Wir nutzen Ihre Email-Adresse und ggf. Name, Vorname und Anrede. Diese Daten verwenden wir ausschließlich für den
    Versand der unseres Newsletters und/oder zur Abwicklung unseres Gewinnspiels, je nach Ihrer Einwilligung. Für den
    Newsletter geben wir die Daten an den Newsletter-Dienst Mailchimp weiter (siehe unten).
  </p>
  <p>
    3) Zu welchem Zweck verarbeiten wir Ihre Daten und auf welcher Rechtsgrundlage?

    Wenn Sie sich mit Ihrer Email-Adresse registieren, willigen Sie ein, unseren Newsletter zu erhalten und/oder Ihre
    Daten zur Abwicklung des Gewinnspiels zu verwenden. Sie können die Einwilligungen getrennt voneinander abgeben und
    getrennt voneinander widerrufen.
    Wir verarbeiten Ihre Daten, um Ihnen unseren Email-Newsletter zusenden zu können. Der Newsletter soll Sie über
    Neuigkeiten rund um theCodeCampus und Angular auf dem Laufenden halten. Sie können der Zusendung des Newsletters
    jederzeit widerrufen durch Klick auf den im Newsletter enthaltenen Link oder per Email an <a href="mailto:info@w11k.de">info@w11k.de</a>.
    Bitte beachten Sie, dass der Widerruf erst für die Zukunft wirkt.
    Zudem werden die Daten zur Abwicklung des Gewinnspiels genutzt.
  </p>
  <p>
    4) Wer bekommt meine Daten?
    Innerhalb von w11k erhalten diejenigen Stellen Zugriff auf Ihre Daten, die diese zum Versand des Newsletters
    benötigen
    und/oder für die Abwicklung des Gewinnspiels zuständig sind.
    Zum Versand des Newsletters nutzen wir MailChimp. MailChimp ist ein Dienst, mit dem u.a. der Versand von Newslettern
    organisiert und analysiert werden kann. Ihre Daten werden beim Anbieter Mailchimp (The Rocket Science Group LLC
    MailChimp, Atlanta, GA 30308 USA) gespeichert. Mit dem Anbieter besteht ein entsprechender Vertrag zur
    Auftragsdatenverarbeitung. MailChimp verfügt über eine Zertifizierung nach dem “EU-US-Privacy-Shield”. Der
    “Privacy-Shield” ist ein Übereinkommen zwischen der Europäischen Union (EU) und den USA, das die Einhaltung
    europäischer Datenschutzstandards in den USA gewährleisten soll. Näheres entnehmen Sie den Datenschutzbestimmungen
    von
    MailChimp unter: <a href="https://mailchimp.com/legal/terms/">https://mailchimp.com/legal/terms/</a>.
    Wenn Sie keine Analyse durch MailChimp wollen, müssen Sie den Newsletter abbestellen. Hierfür stellen wir in jeder
    Newsletternachricht einen entsprechenden Link zur Verfügung. Des Weiteren können Sie den Newsletter auch direkt auf
    der Website abbestellen.
  </p>
  <p>
    5) Wie lange werden meine Daten gespeichert?
    Die von Ihnen zum Zwecke des Newsletter-Bezugs bei uns hinterlegten Daten werden von uns bis zu Ihrer Austragung aus
    dem Newsletter gespeichert und nach der Abbestellung des Newsletters sowohl von unseren Servern als auch von den
    Servern von MailChimp gelöscht. Daten, die zu anderen Zwecken bei uns gespeichert wurden (z.B. E-Mail-Adressen für
    den
    Mitgliederbereich) bleiben hiervon unberührt.
    Sollten Sie sich nur für das Gewinnspiel eingetragen haben, werden Ihre Daten nach Abwicklung des Gewinnspiels
    gelöscht.
  </p>
  <p>
    6) Welche Dateschutzrechte habe ich?
    Sie haben das Recht auf Auskunft nach Artikel 15 DSGVO, das Recht auf Berichtigung nach Artikel 16 DSGVO, das Recht
    auf Einschränkung der Verarbeitung nach Artikel 18 DSGVO sowie das Recht auf Datenübertragbarkeit aus Artikel 20
    DSGVO. Desweiteren haben Sie das Recht auf Löschung Ihrer bei uns gespeicherten personenbezogenen Daten gemäß
    Artikel
    17 DSGVO. Zudem haben Sie das Recht auf Beschwerde bei einer Datenschutzaufsichtsbehörde gem. Artikel 77 DSGVO.
    Gemäß Art. 7 Abs.3 DSGVO haben Sie das Recht, Ihre einmal erteilte Einwilligung jederzeit gegenüber uns zu
    widerrufen
    bzw. gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten einzulegen.
  </p>
  <p>
    7) Widerspruchsrecht
    Sofern Ihre personenbezogenen Daten auf Grundlage von berechtigten Interessen gemäß Art. 6 Abs. 1 S. 1 lit. f DSGVO
    verarbeitet werden, haben Sie das Recht, gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung Ihrer
    personenbezogenen Daten einzulegen, soweit dafür Gründe vorliegen, die sich aus Ihrer besonderen Situation ergeben
    oder sich der Widerspruch gegen Direktwerbung richtet. Im letzteren Fall haben Sie ein generelles Widerspruchsrecht,
    das ohne Angabe einer besonderen Situation von uns umgesetzt wird. Möchten Sie von Ihrem Widerrufs- oder
    Widerspruchsrecht Gebrauch machen, genügt eine E-Mail an <a href="mailto:datenschutz@w11k.de">datenschutz@w11k.de</a>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Schließen</button>
</div>
