<div class="d-flex flex-row total-container">

  <div class="d-flex flex-row side-container">
    <div class="left-side-flex-item">
      <img src="../../../assets/tetris-bg.png" alt="Tetrominoes" class="left-tetrominoes">
    </div>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center middle-container">
    <h1>
      Dropping Stones!
    </h1>
    <div class="actions">
      <a routerLink="/enter-name" #action class="tabable">PLAY</a>
      <!--<a routerLink="/enter-name" #action class="tabable">Singleplayer</a>-->
      <!--<a routerLink="/multi" #action class="tabable">Multiplayer</a>-->
      <a routerLink="/highscore" #action class="tabable">Highscore</a>
    </div>
    <div class="align-self-end">
      <img class="howto" src="../../../assets/howto.png" alt="HowToControls">
    </div>
  </div>

  <div class="d-flex flex-row side-container">
    <div class="right-side-flex-item">
      <img src="../../../assets/tetris-bg.png" alt="Tetrominoes" class="right-tetrominoes">
    </div>
  </div>

</div>
