@import '../../../styles/colors';
@import "../../../styles/color-animation";
@import '../../../styles/mixin/links';

/**
 * NOTE:
 *  Configured to fit the game cabin.
 *  (Looks shitty in normal browser.)
 */

.total-container {
  margin: 5% 0 0 0;

  .middle-container {
    flex-grow: 1;
    height: 90%;
    margin: 3% 0 0 0;

    h1 {
      margin: 0 3em;
      text-align: center;
      font-size: 5em;
      animation: 2s color infinite step-end;
    }

    .actions {
      margin-top: 120px;
      font-size: 1.9em;

      @include nav-link;
    }

    .howto {
      margin-top: 80px;
      width: 100%;
      height: auto;
    }

    table {
      margin-top: 4em;
      margin-bottom: 1em;

      th {
        text-align: left;
      }
      td {
        padding: 0 2em 0.5em 1em;
      }
    }
  }

  .side-container {
    height: auto;
    width: 100%;

    .left-side-flex-item {
      transform: rotate(-90deg);
      margin: 100% 0 0 0;
    }

    .right-side-flex-item {
      transform: rotate(90deg);
      margin: 0 0 100% 0;
    }

    .left-tetrominoes {
      height: auto;
      width: 200%;
      margin: 50% 0 0 0;
    }

    .right-tetrominoes {
      height: auto;
      width: 200%;
      margin: 50% 0 0 0;
    }

  }

}
