@import '../../../styles/colors';
@import "../../../styles/color-animation";
@import '../../../styles/mixin/links';

.flex-container {
  height: 90%;

  h1 {
    margin: 0 10px;
    text-align: center;
    font-size: 5em;
    animation: 2s color infinite step-end;
  }

  .actions {
    margin-top: 70px;
    font-size: 1.3em;

    @include nav-link;
  }

  img {
    margin-top: 80px;
    width: 45%;
  }
}
