@import '../../../styles/colors';
@import '../../../styles/mixin/links';

.flex-container {
  height: 80%;

  h1 {
    font-size: 3em;
  }

  .actions {
    margin-top: 70px;
    font-size: 1.3em;

    @include nav-link;
  }

  img {
    margin-top: 70px;
    width: 75%;
  }
}
