<!--<div class="dy-piece dy-piece-ready">-->
  <!--<ul class="dy-piece-ul"-->
      <!--ngClass="getClassForShape()">-->
    <!--<li data-ng-repeat="i in vm.pieces"-->
        <!--class="dy-piece-li"-->
        <!--ngClass="{'dy-pattern': checkPattern(i)} + getColor()">-->
        <!--&lt;!&ndash;ngStyle="getColor()"> &ndash;&gt;-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->


<div class="dy-piece dy-piece-ready" [ngStyle]="getStyle()">
  <ul class="dy-piece-ul dy-O">
    <li  *ngFor="let cell of movingPiece" class="dy-piece-li" [class.dy-pattern]="isFilled(cell)"></li>
  </ul>
</div>
