@import "../../../styles/mixin/links";

.margin-top {
  margin-top: 200px;
}

.row {
  display: flex;
  justify-content: space-around;
  .col {
    padding: 20px;
    box-sizing: border-box;
    background: #333;
    margin: 10px;
  }
}

@include nav-link;
a {
  display: block;
  margin: 30px auto;
}
