
.title {
  margin-top: 5rem;
  font-size: x-large;
}

ul {
  list-style-type: decimal;
  li {
    margin-top: 5rem;
    font-size: large;
  }

  .position-0 {
    font-size: xx-large;
  }
  .position-1 {
    font-size: x-large;
  }
  .position-2 {
    font-size: large;
  }
}

