@import '../../../styles/colors';
@import '../../../styles/mixin/links';
@import '../../../styles/color-animation';

:host {
  display: flex;
  flex-direction: column;
}

.margin-top{
  margin-top: 150px;
}

h1 {
  font-size: 4em;
  text-align: center;
  animation: 1s color infinite step-end;
  margin: 50px;
}

.row {
  display: flex;
  .col {
    width: 32%;
    padding: 20px;
    box-sizing: border-box;
  }
  .col:not(.player-result) {
    background: #333;
    margin: 10px;
  }
}

.player-result {

  display: flex;
  flex-direction: column;
  align-items: center;

  .player-result__score {
    font-size: 3em;
    color: $tetris-primary;
    text-align: center;
  }


  @include nav-link;

  a {
    font-size: 1.9em;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

}
