<h1 [class.margin-top]="!web">GAME OVER</h1>
<div class="row">
  <div class="col player-result">
    <h2>{{currentPlayer?.name}}s score:</h2>
    <p class="player-result__score">{{this.playerScore}}</p>
    <a #action (click)="replay()" class="tabable">Play again (Ok)</a>
    <a #action (click)="backToMainScreen()" class="tabable">Main screen (Back)</a>

  </div>
  <div class="col">
    <app-highscore-list heading="today's highscore:" [highscores]="todaysHighscores"></app-highscore-list>
  </div>
  <div class="col">
    <app-highscore-list heading="all-time highscore:" [highscores]="highscores"></app-highscore-list>
  </div>
</div>
