@import '../../../styles/colors';

:host {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

h1 {
  font-size: 4em;
  text-align: center;
  animation: 1s color infinite step-end;
}

.row {
  display: flex;
  .col {
    width: 50%;
    h2 {
      text-align: center;
    }
  }
}

.player-result {

  display: flex;
  flex-direction: column;
  align-items: center;

  .player-result__score {
    font-size: 3em;
    text-align: center;
  }

  a {
    margin: 20px 10px;
    padding: 10px;
    color: $tetris-dark;
    border: 5px solid transparent;
    text-decoration: none;
    outline: none;
  }

  a:focus {
    color: $tetris-primary;
    border: 5px solid $tetris-primary;
  }
}

.highscore-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .highscore-list__table {
    table-layout: fixed;
    width: 500px;
    th {
      color: $tetris-primary;
      text-align: left;
      width: 309px;
      box-sizing: border-box;
    }
    th:last-child {
      width: 191px;
    }
    th, td {
      padding: 10px 20px;
      font-size: 1.2em;
      word-wrap: break-word;
    }
  }
}

@keyframes color {
  0% {
    color: $tetris-light;
  }
  50% {
    color: $tetris-primary;
  }
}
