@import '../../../styles/colors';
@import '../../../styles/color-animation';

:host {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

h1 {
  font-size: 4em;
  text-align: center;
  animation: 1s color infinite step-end;
  margin: 25px;
}

.row {
  display: flex;
  .col {
    width: 32%;
    padding: 20px;
    box-sizing: border-box;
  }
}

.player-result {

  display: flex;
  flex-direction: column;
  align-items: center;

  .player-result__score {
    font-size: 3em;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  a {
    padding: 10px;
    color: $tetris-dark;
    border: 5px solid transparent;
    text-decoration: none;
    outline: none;
    text-align: center;
    margin: 0 auto;
  }

  a:focus {
    color: $tetris-primary;
    border: 5px solid $tetris-primary;
  }
}
