<app-header></app-header>
<h1>GAME OVER</h1>
<div class="row">
  <div class="col player-result">
    <h2>deine Punktzahl:</h2>
    <p class="player-result__score">{{this.playerScore}}</p>
    <a routerLink="/">zurück zur <br/> Startseite</a>
  </div>
  <div class="col">
    <app-highscore-list heading="today's highscore:" [highscores]="todaysHighscores"></app-highscore-list>
  </div>
  <div class="col">
    <app-highscore-list heading="all-time highscore:" [highscores]="highscores"></app-highscore-list>
  </div>
</div>
