<div class="dy-config container">
  <h1>Configuration</h1>
  <a [routerLink]="''">Back</a>
  <br/>
  <br/>
  <form (ngSubmit)="onPasswordSubmit()" #passwordForm="ngForm" *ngIf="!unlocked">

    <div class="form-group">
      <label>Please enter password</label>
      <input type="password" class="form-control" id="pw"
             required autofocus autocomplete="off"
             [(ngModel)]="passwordInput.pw" name="pw"
             #name="ngModel">
    </div>
    <button type="submit" class="btn orange">Ok</button>

  </form>

  <form (ngSubmit)="onSubmit()" #configForm="ngForm" *ngIf="unlocked">

    <div class="form-group">
      <label>How many lines for next level? (Default: 10)</label>
      <input type="number" class="form-control" id="INC_LEVEL_PER_LINE"
             required
             [(ngModel)]="model.INC_LEVEL_PER_LINE" name="INC_LEVEL_PER_LINE"
             #name="ngModel">
    </div>
    <div class="form-group">
      <label>Game speed modifier (Default: 2)</label>
      <input type="number" class="form-control" id="GAME_SPEED_MODIFIER"
             required
             [(ngModel)]="model.GAME_SPEED_MODIFIER" name="GAME_SPEED_MODIFIER"
             #name="ngModel">
    </div>
    <div class="form-group">
      <label>Initial block move interval [ms] (Default: 200)</label>
      <input type="number" class="form-control" id="INITIAL_MOVE_INTERVAL"
             required
             [(ngModel)]="model.INITIAL_MOVE_INTERVAL" name="INITIAL_MOVE_INTERVAL"
             #name="ngModel">
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <input type="checkbox" class="form-control" id="FORCE_RELOAD"
                 [(ngModel)]="model.FORCE_RELOAD" name="FORCE_RELOAD"
                 #name="ngModel">
        </div>
        <div class="col-md-10">
          <label>Force hard reload of application when new game is started</label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn orange">Save</button>

  </form>
</div>
