<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mb-5">
        Enter Password
      </h1>

      <form [formGroup]="form" (submit)="login()">


        <div class="form-group mb-5">
          <input type="password" class="form-control"  formControlName="password"  placeholder="Password">
        </div>

        <div class="text-center">
          <a class="tetri-button" [routerLink]="['/']">Back</a>
          <a class="tetri-button" (click)="login()">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
