@import '../../../styles/colors';
@import '../../../styles/mixin/tetromino-colors';

.board {
  max-width: 250px;
  border: 4px solid #fff;
}

span[class^='block'] {
  margin: 0 -16px 0 0;
  @include default-block($tetris-dark)
}

.block-null {
  background: #333;
}



@include tetromino-colors() ;
