@import "../../../styles/color-animation";
@import "../../../styles/mixin/links";

.scores {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  p {
    font-size: 2em;
    text-align: center;
  }
}

.winner {
  text-align: center;
  h1 {
    font-size: 3em;
    animation: 1s color infinite step-end;
  }
}

@include nav-link;
