span[class^='block'] {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 2px;
}

.block-null {
  background: #eee;
}

.block-I {
  background: #00E5FF;
}
.block-O {
  background: #FFEB3B;
}
.block-T {
  background: #D500F9;
}
.block-J {
  background: #3D5AFE;
}
.block-L {
  background: #FF9100;
}
.block-S {
  background: #76FF03;
}
.block-Z {
  background: #F44336;
}