span[class^='block'] {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 2px;
}

.block-null {
  background: #eee;
}

.block-0 {
  background: #F44336;
}
.block-1 {
  background: #9C27B0;
}
.block-2 {
  background: #2196F3;
}
.block-3 {
  background: #00BCD4;
}
.block-4 {
  background: #4CAF50;
}
.block-5 {
  background: #FF9800;
}
.block-6 {
  background: #FFEB3B;
}
.block-7 {
  background: #4CAF50;
}