<section id="start">

  <div class="pull-right config">
    <a [routerLink]="'/config'" class="pull-right"><i class="fa fa-2x fa-gear" aria-hidden="true"></i></a>
  </div>


  <div class="dy-app container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive pull-left" src="assets/img/ngTetris.png">
      </div>
      <div class="col-md-8">
        <a [routerLink]="'/highscore'">Show Highscore</a>

        <h1>Enter your name</h1>
        <form (ngSubmit)="onSubmit()" #nameForm="ngForm" class="">
          <div class="form-group">
            <input type="text" class="form-control" id="name"
                   required autofocus autocomplete="off"
                   [(ngModel)]="model.name" name="name"
                   (change)="playerNameExists()"
                   #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">
              Name is required
            </div>
            <div *ngIf="nameExists"
                 class="alert alert-danger">
              Sorry, this name is already taken
            </div>
          </div>
          <h1>Enter your email</h1>
          <div class="form-group">
            <input type="text" class="form-control" id="email"
                   [(ngModel)]="model.email" name="email" autocomplete="off"
                   pattern="[aA-zZ0-9._%+-]+@[aA-zZ0-9.-]+\.[aA-zZ]{2,63}$"
                   #email="ngModel">
            <div [hidden]="email.valid || email.pristine"
                 class="alert alert-danger">
              E-Mail is not valid
            </div>
          </div>
          <button type="submit" class="btn orange">Start Game</button>

        </form>
      </div>
    </div>
  </div>
</section>

<div class="jumbotron">
  <div class="howto">
    <!--<img src="assets/img/howto.png" class="img-responsive">-->
    <h1>Controls</h1>
    <div class="row">
      <div class="col-md-5">
        <i class="fa fa-4x fa-arrows" aria-hidden="true"></i>
        <p>Move Down</p>
        <p id="move-left">Move Left</p>
        <p id="move-right">Move Right</p>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-3x fa-circle" aria-hidden="true"></i>
                <p>New Game</p>
              </div>
              <div class="col-md-4">
                <i class="fa fa-3x fa-circle" aria-hidden="true"></i>
                <p>Highscore</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-3x fa-circle-o" aria-hidden="true"></i>
              </div>
              <div class="col-md-4">
                <i class="fa fa-3x fa-circle-o" aria-hidden="true"></i>
              </div>
              <div class="col-md-4">
                <i class="fa fa-3x fa-circle-o" aria-hidden="true"></i>
                <p>&nbsp;</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-3x fa-circle" aria-hidden="true"></i>
                <p>Rotate Left</p>
              </div>
              <div class="col-md-4">
                <i class="fa fa-3x fa-circle" aria-hidden="true"></i>
                <p>Rotate Right</p>
              </div>
              <div class="col-md-4">
                <i class="fa fa-3x fa-circle" aria-hidden="true"></i>
                <p>Drop</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
