@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  font-family: 'Press Start 2P', cursive;
  color: #eee;
}

body {
  background-color: #222;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
