@font-face {
  font-family: 'Press Start 2P';
  src: url('/assets/PressStart2P-Regular.ttf');
}

@import 'styles/colors';

* {
  font-family: 'Press Start 2P', cursive;
  color: $tetris-light;
}

body {
  background-color: #222;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
