@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import 'styles/colors';

* {
  font-family: 'Press Start 2P', cursive;
  color: $tetris-light;
}

body {
  background-color: #222;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
