<div class="dy-home container">
  <div di-game-menu></div>
  <div class="row">
    <div class="dy-game-title col-sm-7 col-xs-6">Tetris</div>
    <div class="dy-instructions col-sm-5 col-xs-6">
      Instructions: LALALAL
    </div>
  </div>
  <div class="dy-game-container row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="dy-game-control">
        <game-board></game-board>
      </div>
    </div>
  </div>
  <div class="dy-how-to-pause row">
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
  <ul>
    <li>Angular 2 port</li>
    <li>Style from: <a href="https://github.com/daihuaye" target="_blank">https://github.com/daihuaye</a></li>
    <li>Based on: <a href="https://gamedevelopment.tutsplus.com/series/implementing-tetris--gamedev-12717">Implementing Tetris by Michael James Williams</a></li>
  </ul>
    </div>
  </div>
</div>
